html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  min-width: 310px !important;
  line-height: 1.25;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden !important;
  font-size: 20px;
}
@media only screen and (max-width: 575px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  body {
    font-size: 16px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid blue */
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: black;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-selection {
  background: #6C1919;
  opacity: 0.7;
  color: #FFF;
}

::selection {
  background: #6C1919;
  color: #FFF;
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 2px 2px 2px -7px;
  right: 0;
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #666;
}

.Eller {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10vh;
  font-weight: 100;
  font-style: normal;
  font-size: 0.8em;
}

.Banner {
  color: white;
  display: block;
  background-color: #6C1919;
  width: 100%;
  margin: 5vh auto 8vh;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
}
.Banner .Body {
  width: 70%;
}
@media only screen and (max-width: 1025px) {
  .Banner .Body {
    width: 90%;
  }
}
.Banner .Body i {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 2em;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 400;
  margin-top: 2vh;
  display: none;
  font-style: normal;
}
@media only screen and (max-width: 700px) {
  .Banner .Body i {
    margin-top: 0.5vh;
  }
}
.Banner .Body b {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 400;
}
.Banner .Body a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  min-width: 330px;
  text-align: center;
  width: 40%;
  height: 70px;
  margin: 8vh auto;
  background-color: #FFF;
  color: #6C1919;
  display: inline-block;
  border-radius: 35px;
  padding-top: 10px;
  font-size: 2em;
  border: 1px solid #FFF;
}
.Banner .Body a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.9;
}
.Banner .Body a:focus {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.9;
}
@media only screen and (max-width: 800px) {
  .Banner .Body a {
    font-size: 1.7em;
    padding-top: 13px;
    min-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .Banner .Body a {
    font-size: 2em;
    padding-top: 10px;
    width: 100%;
    display: block;
  }
}
.Banner .Body a span {
  font-size: 1em;
  vertical-align: sub;
}
@media only screen and (max-width: 800px) {
  .Banner .Body a span {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 700px) {
  .Banner .Body a span {
    font-size: 1.1em;
  }
}
.Banner .Body #SMS {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  float: right;
}
@media only screen and (max-width: 700px) {
  .Banner .Body #SMS {
    float: none;
    margin: 0.5vh auto;
  }
}

header {
  background-color: #6C1919;
  color: #FFF;
  width: 100vw;
  height: 95vh;
  z-index: 1;
  overflow: hidden;
  display: block;
}
header #Path {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -moz-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  height: 95vh;
  width: 20vw;
  position: absolute;
  left: calc(40vw + 1px);
  top: 0;
  z-index: 3;
  background-color: #6C1919;
  display: block;
}
@media only screen and (max-width: 800px) {
  header #Path {
    clip-path: polygon(-5% 100%, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(-5% 100%, 100% 0, 100% 100%);
    -moz-clip-path: polygon(-5% 100%, 100% 0, 100% 100%);
    height: 40px;
    width: 100vw;
    left: 0;
    top: calc((100vw / 16 * 9) + 31px);
  }
}
header #Path2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  position: absolute;
  z-index: 3;
  clip-path: polygon(-5% 100%, 0% 0%, 100% 0);
  -webkit-clip-path: polygon(-5% 100%, 0% 0%, 100% 0);
  -moz-clip-path: polygon(-5% 100%, 0% 0%, 100% 0);
  height: 40px;
  width: 100vw;
  left: 0;
  top: 69px;
  background-color: #6C1919;
}
@media only screen and (max-width: 800px) {
  header #Path2 {
    display: block;
  }
}
header #Next1 {
  color: #FFF;
  position: absolute;
  width: 150px;
  height: 150px;
  left: calc(50vw - 75px);
  text-align: center;
  top: 95vh;
  z-index: 6;
  font-size: 7em;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}
@media only screen and (max-width: 1025px) {
  header #Next1 {
    font-size: 7em;
  }
}
header img {
  height: 100vh;
  width: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: #383838;
}
@media only screen and (max-width: 800px) {
  header img {
    height: calc(100vw / 16 * 9);
    width: 100vw;
    margin-top: 70px;
    display: block;
  }
}
header .HeaderContent {
  background-color: #6C1919;
  width: 25vw;
  height: 60vh;
  position: absolute;
  top: 20vh;
  right: 12.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}
@media only screen and (max-width: 800px) {
  header .HeaderContent {
    background-color: rgba(0, 0, 0, 0);
    width: 90vw;
    top: calc(5vh + 110px);
    right: 5vw;
  }
}
header .HeaderContent h1 {
  font-size: 2.7em;
  font-weight: 400;
}
@media only screen and (max-width: 1222px) {
  header .HeaderContent h1 {
    font-size: 2.4em;
  }
}
@media only screen and (max-width: 1025px) {
  header .HeaderContent h1 {
    font-size: 1.9em;
  }
}
@media only screen and (max-width: 800px) {
  header .HeaderContent h1 {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(((100vw / 16 * 9) / 2) - 120px );
    top: 0;
    position: absolute;
    font-size: 2.5em;
  }
}
header .HeaderContent #CTA {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6C1919;
  background-color: #FFF;
  text-align: center;
  border-radius: 1em;
  width: 102%;
  min-height: 50px;
  height: 2em;
  position: relative;
  vertical-align: middle;
  bottom: 0;
  margin: 10vh -1% 0;
  font-size: 2.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .HeaderContent #CTA:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #f7f7f7;
}
@media screen and (max-width: 1271px) {
  header .HeaderContent #CTA {
    font-size: 2.2em;
    padding: 0.5em;
  }
}
@media only screen and (max-width: 1222px) {
  header .HeaderContent #CTA {
    font-size: 2em;
    padding: 0;
  }
}
@media only screen and (max-width: 1025px) {
  header .HeaderContent #CTA {
    font-size: 1.5em;
    height: 1.7em;
  }
}
@media only screen and (max-width: 800px) {
  header .HeaderContent #CTA {
    margin-top: calc((100vw / 16 * 9) + 7vh);
    top: 0;
    position: absolute;
  }
}
header .HeaderContent p {
  margin: 2.5em 0 0;
}
@media only screen and (max-width: 800px) {
  header .HeaderContent p {
    margin-top: calc((100vw / 16 * 9) - 50px);
    position: absolute;
  }
}
header #MobileMenuHeader {
  display: none;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 2vw;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  z-index: 13;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

#indexBody nav {
  height: 0px;
}

nav {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #FFF;
  vertical-align: middle;
  display: block;
  overflow: hidden;
  height: 70px;
  width: 100vw;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 10;
}
nav .NavBtn {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  height: 70px;
  color: #6C1919;
  text-decoration: none;
  font-size: 1.5em;
}
nav .NavBtn:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background: #f7f7f7;
}
nav .NavBtn:focus {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background: #f7f7f7;
}
@media only screen and (max-width: 800px) {
  nav .NavBtn {
    display: none;
  }
}
nav #Navn {
  float: left;
}
@media only screen and (max-width: 800px) {
  nav #Navn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
nav #MobileMenu {
  display: none;
  width: calc(40px + 2vw);
  font-size: 2em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}
@media only screen and (max-width: 800px) {
  nav #MobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
nav .Body {
  width: calc(90% + 2vw);
}
@media only screen and (max-width: 575px) {
  nav .Body {
    width: calc(100% - 4vw);
  }
}

main {
  z-index: 2;
  min-height: calc(100vh - 70px);
}

.Body {
  margin: auto;
  width: 90%;
}
@media only screen and (max-width: 575px) {
  .Body {
    width: calc(100% - 4vw);
  }
}

.Back {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-family: "Material icons", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #6C1919;
  font-size: 2.5em;
  position: absolute;
  top: calc(70px + 3vh);
}
.Back:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}
.Back.White {
  padding: 0 10px !important;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.MobileNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: 197px;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #7D7D7D;
  overflow: hidden;
  z-index: 9;
}
.MobileNav a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 65px;
  color: #6C1919;
  width: 100%;
  display: block;
  background-color: #FFF;
  font-size: 1.5em;
  text-align: center;
  padding: 16px 0 0;
  margin: 0 0 1px;
}
.MobileNav a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f7f7f7;
  font-size: 1.7em;
  padding: 13px 0 0;
}
.MobileNav a span {
  vertical-align: middle;
  margin: -3px 10px 0 0;
  font-size: 1.5em;
}
.MobileNav .Active {
  border-bottom: 1px solid #6C1919;
}

.GalleriInfo {
  text-align: right;
  width: 59%;
  display: block;
  margin: 5vh 0 2vh 41%;
  text-shadow: 2px 2px 4px rgba(255, 255, 225, 0.2);
}
@media only screen and (max-width: 800px) {
  .GalleriInfo {
    margin: 5vh 30% 2vh 0;
    text-align: left;
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .GalleriInfo {
    margin: 5vh 20% 2vh 0;
    text-align: left;
    width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .GalleriInfo {
    width: 90%;
    margin: 5vh 5% 2vh 5%;
  }
}

input {
  background: url("../Images/Search.png") right no-repeat;
  background-size: 30px;
  background-origin: content-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #FFF;
  height: 50px;
  position: relative;
  padding: 12.5px 20px;
  margin: 5vh auto 7vh;
  width: 90%;
  max-width: 420px;
  min-width: 300px;
  border-radius: 25px;
  color: #6C1919;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border: 0px solid #FFF;
  display: block;
  font-size: 1em;
}
input:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
input:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  outline: none;
}
input::-webkit-input-placeholder {
  color: #6C1919;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #6C1919;
  opacity: 1;
}
input::-ms-input-placeholder {
  color: #6C1919;
  opacity: 1;
}
input::placeholder {
  color: #6C1919;
  opacity: 1;
}

.GalleriFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: auto;
  width: 90%;
}
@media only screen and (max-width: 575px) {
  .GalleriFlex {
    width: calc(100% - 4vw);
  }
}
.GalleriFlex .Project {
  outline: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% / 4 - .8vw);
  height: auto;
  margin: 1vw 0.4vw;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #FFF;
}
@media only screen and (max-width: 1025px) {
  .GalleriFlex .Project {
    width: calc(100% / 3 - .8vw);
  }
}
@media only screen and (max-width: 800px) {
  .GalleriFlex .Project {
    width: calc(100% / 2 - .8vw);
  }
}
@media only screen and (max-width: 575px) {
  .GalleriFlex .Project {
    width: calc(100% - .8vw);
  }
}

h2 {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 9px;
  margin: 3vh auto 1vh;
  color: black;
  font-weight: 400;
}

.NavActive {
  border-bottom: 1px solid #6C1919;
  padding-bottom: 20px;
}

#MobileNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0px;
}

.HeaderNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: 332.5px;
  position: absolute;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #6C1919;
  overflow: hidden;
  z-index: 10;
}
.HeaderNav a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 65px;
  color: #FFF;
  border-top: 0.5px solid #FFF;
  width: 100%;
  display: block;
  background-color: #6C1919;
  font-size: 1.5em;
  text-align: center;
  padding: 16px 0 0;
  margin: 0 0 0.5px;
}
.HeaderNav a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #601616;
  font-size: 1.7em;
  padding: 13px 0 0;
}
.HeaderNav a span {
  vertical-align: middle;
  margin: -3px 10px 0 0;
  font-size: 1.5em;
  font-weight: lighter;
}
.HeaderNav .Active {
  border-bottom: 1px solid #FFF;
}

#HeaderNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0px;
  padding-top: 0px;
}

.GalleriPart {
  width: 100%;
  display: block;
  margin: 5vh auto;
  vertical-align: top;
}
.GalleriPart .Body {
  width: 90%;
}
@media only screen and (max-width: 575px) {
  .GalleriPart .Body {
    width: 100%;
  }
}

.air {
  margin: 20vh 0;
}

.diamond main {
  background-image: url(../Images/DiamondBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
@media only screen and (max-width: 700px) {
  .diamond main {
    background-image: url(../Images/DiamondBGMobile.png);
  }
}

.square main {
  background-image: url(../Images/SquareBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
@media only screen and (max-width: 700px) {
  .square main {
    background-image: url(../Images/SquareBGMobile.png);
  }
}

.stripes main {
  background-image: url(../Images/StripesBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
@media only screen and (max-width: 700px) {
  .stripes main {
    background-image: url(../Images/StripesBGMobile.png);
  }
}

.triangle main {
  background-image: url(../Images/TriangleBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
@media only screen and (max-width: 700px) {
  .triangle main {
    background-image: url(../Images/TriangleBGMobile.png);
  }
}

#Om .TableOfThings {
  width: 70%;
  margin: 10vh auto 10vh 30%;
}
@media only screen and (max-width: 800px) {
  #Om .TableOfThings {
    width: 90vw;
    margin: 10% -2.5%;
  }
}

.TableOfThings {
  margin: 10vh auto 0;
}
.TableOfThings h1 {
  font-size: 1.5em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: black;
  text-decoration: none;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.TableOfThings table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #6C1919;
}
.TableOfThings table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.TableOfThings table tr td {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: calc((100% / 3) - 5%);
  vertical-align: top;
  padding: 1vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #FFF;
}
.TableOfThings table tr td:hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #212121;
}
.TableOfThings table tr td:hover h5 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
@media only screen and (max-width: 700px) {
  .TableOfThings table tr td {
    width: calc((100% / 2) - 5%);
  }
}
@media only screen and (max-width: 575px) {
  .TableOfThings table tr td {
    width: calc(100% - 5%);
    vertical-align: middle;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.TableOfThings table tr td h5 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: 400;
  font-family: "Material Icons", sans-serif;
  font-size: 5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  color: #383838;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .TableOfThings table tr td h5 {
    width: 1em;
    line-height: 1;
  }
}
.TableOfThings table tr td p {
  display: block;
  margin: 5%;
  max-width: 400px;
}

.White {
  background-color: #FFF;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
}

.KontaktWidth .Medias {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 7vh 0 0 !important;
}
.KontaktWidth .Medias a img {
  width: 2em !important;
  border-radius: 1em;
}

.Medias {
  margin: 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .Medias {
    margin: 1em 0;
  }
}
.Medias a img {
  border-radius: calc(1.3em / 2);
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 1.3em !important;
  opacity: 0.4;
}
.Medias a img:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  opacity: 0.8;
}

.Background {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100vw;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: -1;
  background-color: #6C1919;
  display: block;
}
@media only screen and (max-width: 800px) {
  .Background {
    height: 200vh;
    width: 200vh;
  }
}
@media only screen and (max-width: 575px) {
  .Background {
    height: 150vh;
    width: 150vh;
  }
}
@media only screen and (max-width: 376px) {
  .Background {
    height: 100vh;
    width: 100vh;
  }
}

.Line {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  clip-path: polygon(25% 0, 34% 0, 100% 70%, 100% 79%);
  -webkit-clip-path: polygon(25% 0, 34% 0, 100% 70%, 100% 79%);
  -moz-clip-path: polygon(25% 0, 34% 0, 100% 70%, 100% 79%);
}

.Triangle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  clip-path: polygon(0 29%, 0 72%, 21% 51%);
  -webkit-clip-path: polygon(0 29%, 0 72%, 21% 51%);
  -moz-clip-path: polygon(0 29%, 0 72%, 21% 51%);
}

.TriangleBottom {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  -moz-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  left: 0;
  bottom: 0;
  display: none;
}

#Om .OmFlex {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 800px) {
  #Om .OmFlex {
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  #Om .OmFlex {
    width: 90%;
  }
}
#Om .OmFlex img {
  width: 70%;
  height: calc((90vw*0.8*0.7)/16*9);
  z-index: 2;
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 800px) {
  #Om .OmFlex img {
    width: 100%;
    height: calc((90vw*0.8)/16*9);
    display: block;
    margin: 0 0 -3vh;
    z-index: 2;
    position: static;
  }
}
@media only screen and (max-width: 575px) {
  #Om .OmFlex img {
    height: calc((90vw*0.9)/16*9);
  }
}
#Om .OmFlex .White {
  position: relative;
  right: calc(90vw / 100 * 15 + 8px);
  z-index: 3;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3) !important;
}
#Om .OmFlex .White img {
  height: auto;
}
@media only screen and (max-width: 800px) {
  #Om .OmFlex .White {
    right: 0;
    z-index: 5;
    width: 100%;
    left: 15vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (max-width: 800px) and (max-width: 575px) {
  #Om .OmFlex .White {
    left: 7vw;
  }
}

#Om .OmFlex .White h1 {
  text-align: left;
  margin: 0;
  padding: 0;
}
#Om .OmContent {
  z-index: 99999999999999;
  width: 70%;
  margin: 3vh auto 10vh;
}
@media only screen and (max-width: 575px) {
  #Om .OmContent {
    width: 90%;
  }
}
#Om .White {
  background-color: #FFF;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}
.modal .modal-content {
  background-color: #FFF;
  margin: 5vmax;
  width: calc(100vw - 10vmax);
  padding: 0px;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content {
    height: calc(100vh - 10vmax);
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.modal .modal-content .LeftSide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .LeftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.modal .modal-content .LeftSide img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-filter: none;
          filter: none;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .LeftSide img {
    margin: 2vh 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.modal .modal-content .LeftSide .title {
  top: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  padding: 2vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 0;
      -ms-flex-positive: 1 0;
          flex-grow: 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .LeftSide .title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.modal .modal-content .LeftSide .title h4 {
  color: #6C1919;
  font-size: 2.5em;
  display: block;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 1px;
          margin-block-end: 1px;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .LeftSide .title h4 {
    font-size: 2em;
    text-align: center;
    display: block;
  }
}
.modal .modal-content .LeftSide .title p {
  line-height: 1;
  font-size: 1.7em;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .LeftSide .title p {
    font-size: 1.5em;
  }
}
.modal .modal-content .RightSide {
  padding: 2vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .RightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.modal .modal-content .RightSide .info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .RightSide .info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.modal .modal-content .RightSide .info h5 {
  color: #383838;
  text-align: center;
  display: run-in;
  font-size: 1.75em;
}
.modal .modal-content .RightSide .info p {
  font-size: 1em;
}
.modal .modal-content .RightSide .Button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  bottom: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .RightSide .Button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.modal .modal-content .RightSide .Button .ModalButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #6C1919;
  color: #FFF;
  font-size: 2em;
  width: 100%;
  height: 80px;
  padding: 15px 0;
  display: block;
  bottom: 0;
  text-align: center;
  border-radius: 4em;
}
@media only screen and (max-width: 800px) {
  .modal .modal-content .RightSide .Button .ModalButton {
    padding-top: 12px;
    margin-bottom: 1em;
    height: 60px;
  }
}
.modal .close {
  color: #383838;
  margin: 2vw 2vw 0 0;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5vmax;
  right: 5vmax;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ToBtn {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #7D7D7D;
  color: #FFF;
  font-size: 1.25em;
  display: block;
  width: 250px;
  text-align: center;
  margin-left: calc(50% - 125px);
  margin-top: 5vh;
  border-radius: 26.5px;
  padding: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.ToBtn:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #666666;
}
.ToBtn:active {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  margin-top: calc(5vh + 2px);
}

.OmMeg {
  background-color: #FFF;
}

main h1 {
  font-size: 2.5em;
  padding-left: calc(50px + 2vw);
  font-weight: 400;
}
@media only screen and (max-width: 700px) {
  main h1 {
    padding-left: calc(50px + 1vw);
  }
}
@media only screen and (max-width: 575px) {
  main h1 {
    text-align: center;
    padding-left: 0;
    margin: 0 0 2vh;
  }
}
main h1 a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
main h1 a:hover {
  text-decoration: underline;
}

.Material {
  font-family: "Material Icons", sans-serif;
  font-size: 1.1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1;
}

.Project {
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% / 3 - 1vw);
  height: auto;
  margin: 1vw 0.5vw;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #FFF;
}
@media only screen and (max-width: 1222px) {
  .Project {
    width: calc(100% / 2 - 1vw);
  }
}
@media only screen and (max-width: 1025px) {
  .Project {
    width: calc(100% - 1vw);
  }
}
.Project:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}
.Project:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.Project img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.Project div {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.Project div h3 {
  color: #6C1919;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.Project div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 0px);
  display: block;
  color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.Project p {
  display: none;
}
.Project i {
  display: none !important;
}

#CarouselSpacer {
  height: 100px;
  display: inline-block;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
  margin: 0;
}

.TekstLink {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  color: #6C1919;
}
.TekstLink:hover {
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.KontaktWidth {
  width: calc(70% + 4vw);
  margin: auto;
}
@media only screen and (max-width: 1025px) {
  .KontaktWidth {
    width: calc(90% + 4vw);
  }
}
.KontaktWidth table {
  margin: 10vh auto 0;
  table-layout: fixed;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .KontaktWidth table {
    margin: 0vh auto;
  }
}
.KontaktWidth table td {
  width: 50%;
  padding: 0 2vw;
}
@media only screen and (max-width: 800px) {
  .KontaktWidth table td {
    width: 100%;
    display: block;
    margin: 5vh auto 0;
  }
}
.KontaktWidth table td div {
  margin-left: 1vw;
  width: calc(100% - 1vw - 175px);
  display: inline-block;
  vertical-align: middle;
}
.KontaktWidth table td div h3 {
  font-weight: 400;
  font-size: 1.8em;
}
.KontaktWidth table td img {
  vertical-align: middle;
  border-radius: 85px;
  height: 170px;
  width: 170px;
  display: inline-block;
}
@media only screen and (max-width: 575px) {
  .KontaktWidth table td img {
    border-radius: 70px;
    height: 140px;
    width: 140px;
  }
}

footer {
  background-color: #383838;
  border-top: 8px solid #6C1919;
  color: #FFF !important;
  width: 100vw;
  height: 350px;
  display: block;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media only screen and (max-width: 1025px) {
  footer {
    font-size: 16px;
  }
}
footer a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #FFF;
}
footer a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-decoration: underline;
}
footer span {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 700px) {
  footer span {
    margin: 1em 0 0;
  }
}
footer .Topp {
  margin-top: 0.5em;
  font-size: 0.9;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 700px) {
  footer .Topp {
    text-align: right;
  }
}
footer .Topp:hover {
  cursor: pointer;
}
footer .Topp span {
  text-align: left;
  vertical-align: sub;
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 700px) {
  footer .Topp span {
    text-align: right;
  }
}
footer .Body div {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  width: calc(50% - 2px);
  margin-top: calc(290px / 2);
}
@media only screen and (max-width: 700px) {
  footer .Body div {
    display: block;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: block;
    width: 100%;
    margin-top: 4vh;
    text-align: center;
    float: none;
  }
}
footer .LeftFooter {
  font-size: 1.75em;
}
footer .RightFooter {
  text-align: right;
  float: right;
}
footer .RightFooter h1 {
  font-size: 2.75em;
}
footer .RightFooter p {
  font-size: 1.4em;
  display: block;
}
@media only screen and (max-width: 700px) {
  footer .RightFooter p {
    display: inline;
  }
}

.sliderattempt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}
.sliderattempt2 .SideArrow {
  text-shadow: 2px 2px 4px rgba(255, 255, 225, 0.2);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-weight: 100;
  font-size: 150px;
  color: #6C1919;
  display: inline;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50px;
  text-align: center;
}
.sliderattempt2 .SideArrow:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
}
.sliderattempt2 .SideArrow:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media only screen and (max-width: 700px) {
  .sliderattempt2 .SideArrow {
    font-size: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .sliderattempt2 .SideArrow {
    font-size: 80px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 0 -30px 0;
  }
}
@media only screen and (max-width: 395px) {
  .sliderattempt2 .SideArrow {
    font-size: 60px;
    border-radius: 40px;
    padding: 5px 10px;
    height: 80px;
    width: 80px;
  }
}
.sliderattempt2 #RightArrow {
  right: 0;
}
@media only screen and (max-width: 575px) {
  .sliderattempt2 #RightArrow {
    -ms-flex-item-align: center;
        align-self: center;
    vertical-align: middle;
  }
}
.sliderattempt2 .Slides {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 2vw;
  -webkit-scroll-snap-type: x;
      -ms-scroll-snap-type: x;
          scroll-snap-type: x;
  -webkit-scroll-snap-points-x: repeat(calc(100% / 4 - .8vw));
      -ms-scroll-snap-points-x: repeat(calc(100% / 4 - .8vw));
          scroll-snap-points-x: repeat(calc(100% / 4 - .8vw));
  -webkit-scroll-snap-type: x mandatory;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.sliderattempt2 .Slides > * {
  margin: 1vw 0.5vw;
}
.sliderattempt2 .Slides.drar {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  -webkit-scroll-snap-type: none;
      -ms-scroll-snap-type: none;
          scroll-snap-type: none;
  -webkit-scroll-snap-points-x: none;
      -ms-scroll-snap-points-x: none;
          scroll-snap-points-x: none;
  scroll-snap-type: none;
}
.sliderattempt2 .Slides::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
.sliderattempt2 .Slides::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  display: none;
}

main {
  padding-top: 20px;
  padding-bottom: 33px;
}

main h1 {
  font-size: 2.5em;
  padding-left: calc(50px + 2vw);
  font-weight: 400;
}
@media only screen and (max-width: 700px) {
  main h1 {
    padding-left: calc(50px + 1vw);
  }
}
@media only screen and (max-width: 575px) {
  main h1 {
    text-align: center;
    padding-left: 0;
    margin: 0 0 2vh;
  }
}
main h1 a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
main h1 a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=Styling.css.map */