/* line 41, Styling.sass */
html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 51, Styling.sass */
body {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  min-width: 310px !important;
  line-height: 1.25;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden !important;
  font-size: 20px;
}
@media only screen and (max-width: 575px) {
  /* line 51, Styling.sass */
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  /* line 51, Styling.sass */
  body {
    font-size: 16px;
  }
}

/* line 69, Styling.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid blue */
  border-collapse: collapse;
}

/* line 79, Styling.sass */
a {
  text-decoration: none;
  color: black;
}

/* line 86, Styling.sass */
::-moz-selection {
  background: #6C1919;
  opacity: 0.7;
  color: #FFF;
}

/* line 92, Styling.sass */
::-moz-selection {
  background: #6C1919;
  color: #FFF;
  opacity: 0.7;
}
::selection {
  background: #6C1919;
  color: #FFF;
  opacity: 0.7;
}

/* line 98, Styling.sass */
::-webkit-scrollbar {
  width: 5px;
  margin: 2px 2px 2px -7px;
  right: 0;
  border-radius: 2.5px;
}

/* line 105, Styling.sass */
::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999;
  border-radius: 2.5px;
}
/* line 110, Styling.sass */
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #666;
}

/* line 114, Styling.sass */
.Eller {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10vh;
  font-weight: 100;
  font-style: normal;
  font-size: 0.8em;
}

/* line 123, Styling.sass */
.Banner {
  color: white;
  display: block;
  background-color: #6C1919;
  width: 100%;
  margin: 5vh auto 8vh;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
}
/* line 131, Styling.sass */
.Banner .Body {
  width: 70%;
}
@media only screen and (max-width: 1023px) {
  /* line 131, Styling.sass */
  .Banner .Body {
    width: 90%;
  }
}
/* line 137, Styling.sass */
.Banner .Body i {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 2em;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 400;
  margin-top: 2vh;
  display: none;
  font-style: normal;
}
@media only screen and (max-width: 700px) {
  /* line 137, Styling.sass */
  .Banner .Body i {
    margin-top: 0.5vh;
  }
}
/* line 151, Styling.sass */
.Banner .Body b {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 400;
}
/* line 157, Styling.sass */
.Banner .Body a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  min-width: 330px;
  text-align: center;
  width: 40%;
  height: 70px;
  margin: 8vh auto;
  background-color: #FFF;
  color: #6C1919;
  display: inline-block;
  border-radius: 35px;
  padding-top: 10px;
  font-size: 2em;
  border: 1px solid #FFF;
}
/* line 172, Styling.sass */
.Banner .Body a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.9;
}
/* line 176, Styling.sass */
.Banner .Body a:focus {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.9;
}
@media only screen and (max-width: 800px) {
  /* line 157, Styling.sass */
  .Banner .Body a {
    font-size: 1.7em;
    padding-top: 13px;
    min-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  /* line 157, Styling.sass */
  .Banner .Body a {
    font-size: 2em;
    padding-top: 10px;
    width: 100%;
    display: block;
  }
}
/* line 191, Styling.sass */
.Banner .Body a span {
  font-size: 1em;
  vertical-align: sub;
}
@media only screen and (max-width: 800px) {
  /* line 191, Styling.sass */
  .Banner .Body a span {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 700px) {
  /* line 191, Styling.sass */
  .Banner .Body a span {
    font-size: 1.1em;
  }
}
/* line 201, Styling.sass */
.Banner .Body #SMS {
  float: right;
}
@media only screen and (max-width: 700px) {
  /* line 201, Styling.sass */
  .Banner .Body #SMS {
    float: none;
    margin: 0.5vh auto;
  }
}

/* line 209, Styling.sass */
header {
  background-color: #6C1919;
  color: #FFF;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  display: block;
}
/* line 218, Styling.sass */
header #Path {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -moz-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  height: 100vh;
  width: 20vw;
  position: absolute;
  left: calc(40vw + 1px);
  top: 0;
  z-index: 3;
  background-color: #6C1919;
  display: block;
}
@media only screen and (max-width: 800px) {
  /* line 218, Styling.sass */
  header #Path {
    clip-path: polygon(-5% 100%, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(-5% 100%, 100% 0, 100% 100%);
    -moz-clip-path: polygon(-5% 100%, 100% 0, 100% 100%);
    height: 40px;
    width: 100vw;
    left: 0;
    top: calc((100vw / 16 * 9) + 31px);
  }
}
/* line 240, Styling.sass */
header #Path2 {
  display: none;
  position: absolute;
  z-index: 3;
  clip-path: polygon(-5% 100%, 0% 0%, 100% 0);
  -webkit-clip-path: polygon(-5% 100%, 0% 0%, 100% 0);
  -moz-clip-path: polygon(-5% 100%, 0% 0%, 100% 0);
  height: 40px;
  width: 100vw;
  left: 0;
  top: 69px;
  background-color: #6C1919;
}
@media only screen and (max-width: 800px) {
  /* line 240, Styling.sass */
  header #Path2 {
    display: block;
  }
}
/* line 257, Styling.sass */
header #Next1 {
  color: #FFF;
  position: absolute;
  width: 150px;
  height: 150px;
  left: calc(50vw - 75px);
  text-align: center;
  top: 100vh;
  z-index: 6;
  font-size: 8em;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}
@media only screen and (max-width: 1023px) {
  /* line 257, Styling.sass */
  header #Next1 {
    font-size: 7em;
  }
}
/* line 272, Styling.sass */
header img {
  height: 100vh;
  width: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  /* line 272, Styling.sass */
  header img {
    height: auto;
    width: 100vw;
    margin-top: 70px;
    display: block;
  }
}
/* line 288, Styling.sass */
header .HeaderContent {
  background-color: #6C1919;
  width: 25vw;
  height: 60vh;
  position: absolute;
  top: 20vh;
  right: 12.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}
@media only screen and (max-width: 800px) {
  /* line 288, Styling.sass */
  header .HeaderContent {
    background-color: rgba(0, 0, 0, 0);
    width: 90vw;
    height: 90vh;
    top: calc(5vh + 110px);
    right: 5vw;
  }
}
/* line 306, Styling.sass */
header .HeaderContent h1 {
  font-size: 2.7em;
  font-weight: 400;
}
@media only screen and (max-width: 1222px) {
  /* line 306, Styling.sass */
  header .HeaderContent h1 {
    font-size: 2.4em;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 306, Styling.sass */
  header .HeaderContent h1 {
    font-size: 1.9em;
  }
}
@media only screen and (max-width: 800px) {
  /* line 306, Styling.sass */
  header .HeaderContent h1 {
    margin-top: calc(((100vw / 16 * 9) / 2) - 120px );
    top: 0;
    position: absolute;
    font-size: 2.5em;
  }
}
/* line 324, Styling.sass */
header .HeaderContent #CTA {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6C1919;
  background-color: #FFF;
  text-align: center;
  border-radius: 1em;
  width: 102%;
  min-height: 50px;
  height: 2em;
  position: relative;
  vertical-align: middle;
  bottom: 0;
  margin: 10vh -1% 0;
  font-size: 2.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 343, Styling.sass */
header .HeaderContent #CTA:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #f7f7f7;
}
@media screen and (max-width: 1271px) {
  /* line 324, Styling.sass */
  header .HeaderContent #CTA {
    font-size: 2.2em;
    padding: 0.2em;
  }
}
@media only screen and (max-width: 1222px) {
  /* line 324, Styling.sass */
  header .HeaderContent #CTA {
    font-size: 2em;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 324, Styling.sass */
  header .HeaderContent #CTA {
    font-size: 1.5em;
    height: 1.7em;
  }
}
@media only screen and (max-width: 800px) {
  /* line 324, Styling.sass */
  header .HeaderContent #CTA {
    margin-top: calc((100vw / 16 * 9) + 7vh);
    top: 0;
    position: absolute;
  }
}
/* line 363, Styling.sass */
header .HeaderContent p {
  margin: 2.5em 0 0;
}
@media only screen and (max-width: 800px) {
  /* line 363, Styling.sass */
  header .HeaderContent p {
    margin-top: calc((100vw / 16 * 9) - 50px);
    position: absolute;
  }
}
/* line 370, Styling.sass */
header #MobileMenuHeader {
  display: none;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 2vw;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  z-index: 13;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

/* line 387, Styling.sass */
nav {
  position: -webkit-sticky;
  position: sticky;
  background-color: #FFF;
  vertical-align: middle;
  display: block;
  height: 70px;
  width: 100vw;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 10;
}
/* line 398, Styling.sass */
nav .NavBtn {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  height: 70px;
  color: #6C1919;
  text-decoration: none;
  font-size: 1.5em;
}
/* line 409, Styling.sass */
nav .NavBtn:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background: #f7f7f7;
}
/* line 413, Styling.sass */
nav .NavBtn:focus {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background: #f7f7f7;
}
@media only screen and (max-width: 800px) {
  /* line 398, Styling.sass */
  nav .NavBtn {
    display: none;
  }
}
/* line 420, Styling.sass */
nav #Navn {
  float: left;
}
@media only screen and (max-width: 800px) {
  /* line 420, Styling.sass */
  nav #Navn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 426, Styling.sass */
nav #MobileMenu {
  display: none;
  width: calc(40px + 2vw);
  font-size: 2em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}
@media only screen and (max-width: 800px) {
  /* line 426, Styling.sass */
  nav #MobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 439, Styling.sass */
nav .Body {
  width: calc(90% + 2vw);
}
@media only screen and (max-width: 575px) {
  /* line 439, Styling.sass */
  nav .Body {
    width: calc(100% - 4vw);
  }
}

/* line 446, Styling.sass */
main {
  z-index: 2;
}

/* line 450, Styling.sass */
.Body {
  margin: auto;
  width: 90%;
}
@media only screen and (max-width: 575px) {
  /* line 450, Styling.sass */
  .Body {
    width: calc(100% - 4vw);
  }
}

/* line 458, Styling.sass */
.Back {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Material icons", sans-serif;
  color: #6C1919;
  font-size: 2.5em;
  position: absolute;
  top: calc(70px + 3vh);
  padding: 0 0 0 5px;
}
/* line 468, Styling.sass */
.Back:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0;
}

/* line 472, Styling.sass */
.MobileNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: 197px;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #7D7D7D;
  overflow: hidden;
  z-index: 9;
}
/* line 484, Styling.sass */
.MobileNav a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 65px;
  color: #6C1919;
  width: 100%;
  display: block;
  background-color: #FFF;
  font-size: 1.5em;
  text-align: center;
  padding: 16px 0 0;
  margin: 0 0 0.5px;
}
/* line 496, Styling.sass */
.MobileNav a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f7f7f7;
  font-size: 1.7em;
  padding: 13px 0 0;
}
/* line 502, Styling.sass */
.MobileNav a span {
  vertical-align: middle;
  margin: -3px 10px 0 0;
  font-size: 1.5em;
}
/* line 507, Styling.sass */
.MobileNav .Active {
  border-bottom: 1px solid #6C1919;
}

/* line 511, Styling.sass */
.GalleriInfo {
  text-align: right;
  width: 59%;
  display: block;
  margin: 5vh 0 2vh 41%;
}
@media only screen and (max-width: 800px) {
  /* line 511, Styling.sass */
  .GalleriInfo {
    margin: 5vh 30% 2vh 0;
    text-align: left;
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  /* line 511, Styling.sass */
  .GalleriInfo {
    margin: 5vh 20% 2vh 0;
    text-align: left;
    width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  /* line 511, Styling.sass */
  .GalleriInfo {
    width: 90%;
    margin: 5vh 5% 2vh 5%;
  }
}

/* line 532, Styling.sass */
input {
  background: url("../Images/Search.png") right no-repeat;
  background-size: 30px;
  background-origin: content-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #FFF;
  height: 50px;
  position: relative;
  padding: 12.5px 20px;
  margin: 5vh auto 7vh;
  width: 90%;
  max-width: 420px;
  min-width: 300px;
  border-radius: 25px;
  color: #6C1919;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border: 0px solid #FFF;
  display: block;
  font-size: 1em;
}
/* line 552, Styling.sass */
input:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
/* line 556, Styling.sass */
input:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  outline: none;
}
/* line 561, Styling.sass */
input::-webkit-input-placeholder {
  color: #6C1919;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #6C1919;
  opacity: 1;
}
input::-ms-input-placeholder {
  color: #6C1919;
  opacity: 1;
}
input::placeholder {
  color: #6C1919;
  opacity: 1;
}

/* line 566, Styling.sass */
.GalleriFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: auto;
  width: 90%;
}
@media only screen and (max-width: 575px) {
  /* line 566, Styling.sass */
  .GalleriFlex {
    width: calc(100% - 4vw);
  }
}
/* line 579, Styling.sass */
.GalleriFlex .Project {
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% / 4 - .8vw);
  height: auto;
  margin: 1vw 0.4vw;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #FFF;
}
@media only screen and (max-width: 1023px) {
  /* line 579, Styling.sass */
  .GalleriFlex .Project {
    width: calc(100% / 3 - .8vw);
  }
}
@media only screen and (max-width: 800px) {
  /* line 579, Styling.sass */
  .GalleriFlex .Project {
    width: calc(100% / 2 - .8vw);
  }
}
@media only screen and (max-width: 575px) {
  /* line 579, Styling.sass */
  .GalleriFlex .Project {
    width: calc(100% - .8vw);
  }
}

/* line 602, Styling.sass */
h2 {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 9px;
  margin: 3vh auto 1vh;
  color: black;
  font-weight: 400;
}

/* line 614, Styling.sass */
.NavActive {
  border-bottom: 1px solid #6C1919;
  padding-bottom: 20px;
}

/* line 619, Styling.sass */
#MobileNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0px;
}

/* line 624, Styling.sass */
.HeaderNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: 332.5px;
  position: absolute;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #6C1919;
  overflow: hidden;
  z-index: 10;
}
/* line 635, Styling.sass */
.HeaderNav a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 65px;
  color: #FFF;
  border-top: 0.5px solid #FFF;
  width: 100%;
  display: block;
  background-color: #6C1919;
  font-size: 1.5em;
  text-align: center;
  padding: 16px 0 0;
  margin: 0 0 0.5px;
}
/* line 648, Styling.sass */
.HeaderNav a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #601616;
  font-size: 1.7em;
  padding: 13px 0 0;
}
/* line 654, Styling.sass */
.HeaderNav a span {
  vertical-align: middle;
  margin: -3px 10px 0 0;
  font-size: 1.5em;
  font-weight: lighter;
}
/* line 660, Styling.sass */
.HeaderNav .Active {
  border-bottom: 1px solid #FFF;
}

/* line 664, Styling.sass */
#HeaderNav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0px;
  padding-top: 0px;
}

/* line 670, Styling.sass */
.GalleriPart {
  width: 100%;
  display: block;
  margin: 5vh auto;
  vertical-align: top;
}
/* line 676, Styling.sass */
.GalleriPart .Body {
  width: calc(90% + 100px);
}
@media only screen and (max-width: 575px) {
  /* line 676, Styling.sass */
  .GalleriPart .Body {
    width: 100%;
  }
}

/* line 682, Styling.sass */
#home .TableOfThings {
  margin: 10vh auto 0;
}
/* line 685, Styling.sass */
#home .TableOfThings h1 {
  font-size: 1.5em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: black;
  text-decoration: none;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 695, Styling.sass */
#home .TableOfThings table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #6C1919;
}
/* line 701, Styling.sass */
#home .TableOfThings table td {
  width: calc(100% / 3);
  vertical-align: top;
  padding: 1vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 1222px) {
  /* line 701, Styling.sass */
  #home .TableOfThings table td {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  /* line 701, Styling.sass */
  #home .TableOfThings table td {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 575px) {
  /* line 701, Styling.sass */
  #home .TableOfThings table td {
    width: calc(100%);
    vertical-align: middle;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/* line 722, Styling.sass */
#home .TableOfThings table td h5 {
  font-weight: 400;
  font-family: "Material Icons", sans-serif;
  font-size: 5em;
  display: inline-block;
  color: #383838;
  text-align: left;
}
@media only screen and (max-width: 1222px) {
  /* line 722, Styling.sass */
  #home .TableOfThings table td h5 {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  /* line 722, Styling.sass */
  #home .TableOfThings table td h5 {
    display: inline-block;
    text-align: left;
    width: 1em;
    line-height: 1;
  }
}
/* line 740, Styling.sass */
#home .TableOfThings table td p {
  display: inline-block;
  width: calc(100% - 5.6em);
  float: right;
}
@media only screen and (max-width: 1222px) {
  /* line 740, Styling.sass */
  #home .TableOfThings table td p {
    float: none;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  /* line 740, Styling.sass */
  #home .TableOfThings table td p {
    display: inline-block;
    width: calc(100% - 5.4em);
    float: right;
    vertical-align: middle;
  }
}
/* line 756, Styling.sass */
#home .White {
  background-color: #FFF;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
}

/* line 766, Styling.sass */
.KontaktWidth .Medias {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 7vh 0 0 !important;
}
/* line 771, Styling.sass */
.KontaktWidth .Medias a img {
  width: 2em !important;
  border-radius: 1em;
}

/* line 776, Styling.sass */
.Medias {
  margin: 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  /* line 776, Styling.sass */
  .Medias {
    margin: 1em 0;
  }
}
/* line 787, Styling.sass */
.Medias a img {
  border-radius: calc(1.3em / 2);
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 1.3em !important;
  opacity: 0.4;
}
/* line 794, Styling.sass */
.Medias a img:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  opacity: 0.8;
}

/* line 800, Styling.sass */
.Background {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100vw;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: -1;
  background-color: #6C1919;
  display: block;
}
@media only screen and (max-width: 800px) {
  /* line 800, Styling.sass */
  .Background {
    height: 200vh;
    width: 200vh;
  }
}
@media only screen and (max-width: 575px) {
  /* line 800, Styling.sass */
  .Background {
    height: 150vh;
    width: 150vh;
  }
}
@media only screen and (max-width: 376px) {
  /* line 800, Styling.sass */
  .Background {
    height: 100vh;
    width: 100vh;
  }
}

/* line 824, Styling.sass */
.Line {
  clip-path: polygon(25% 0, 34% 0, 100% 70%, 100% 79%);
  -webkit-clip-path: polygon(25% 0, 34% 0, 100% 70%, 100% 79%);
  -moz-clip-path: polygon(25% 0, 34% 0, 100% 70%, 100% 79%);
}

/* line 830, Styling.sass */
.Triangle {
  clip-path: polygon(0 29%, 0 72%, 21% 51%);
  -webkit-clip-path: polygon(0 29%, 0 72%, 21% 51%);
  -moz-clip-path: polygon(0 29%, 0 72%, 21% 51%);
}

/* line 841, Styling.sass */
.TriangleBottom {
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  -moz-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  left: 0;
  margin-bottom: 350px;
}

/* line 850, Styling.sass */
#Om {
  background-repeat: repeat;
  background-image: url("../Images/OmMegBG.png");
  margin-top: 0px;
  padding-top: 0px;
  background-size: 1920px 1080px;
  background-origin: border-box;
  z-index: -4;
}
@media only screen and (max-width: 700px) {
  /* line 859, Styling.sass */
  #Om h2.White {
    padding: 20px 10px;
    letter-spacing: normal;
  }
}
/* line 864, Styling.sass */
#Om .TableOfThings {
  margin: 10vh auto 10vh 30%;
  width: 70%;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
/* line 869, Styling.sass */
#Om .TableOfThings h1 {
  font-size: 1.5em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: black;
  text-decoration: none;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 800px) {
  /* line 864, Styling.sass */
  #Om .TableOfThings {
    margin: 40vw auto 10vh;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  /* line 864, Styling.sass */
  #Om .TableOfThings {
    margin: 40vh auto 10vh;
  }
}
/* line 887, Styling.sass */
#Om .TableOfThings table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #6C1919;
}
/* line 893, Styling.sass */
#Om .TableOfThings table td {
  width: calc(100% / 3);
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 700px) {
  /* line 893, Styling.sass */
  #Om .TableOfThings table td {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 575px) {
  /* line 893, Styling.sass */
  #Om .TableOfThings table td {
    width: calc(100%);
    vertical-align: middle;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/* line 910, Styling.sass */
#Om .TableOfThings table td h5 {
  font-weight: 400;
  font-family: "Material Icons", sans-serif;
  font-size: 5em;
  display: inline-block;
  color: #383838;
  text-align: left;
}
@media only screen and (max-width: 1222px) {
  /* line 910, Styling.sass */
  #Om .TableOfThings table td h5 {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  /* line 910, Styling.sass */
  #Om .TableOfThings table td h5 {
    display: inline-block;
    text-align: left;
    width: 1em;
    line-height: 1;
  }
}
/* line 928, Styling.sass */
#Om .TableOfThings table td p {
  display: inline-block;
  width: calc(100% - 3em);
  float: right;
}
@media only screen and (max-width: 1222px) {
  /* line 928, Styling.sass */
  #Om .TableOfThings table td p {
    float: none;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  /* line 928, Styling.sass */
  #Om .TableOfThings table td p {
    display: inline-block;
    width: calc(100% - 5.4em);
    float: right;
    vertical-align: middle;
  }
}
/* line 945, Styling.sass */
#Om .OmFlex {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 800px) {
  /* line 945, Styling.sass */
  #Om .OmFlex {
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  /* line 945, Styling.sass */
  #Om .OmFlex {
    width: 90%;
  }
}
/* line 958, Styling.sass */
#Om .OmFlex img {
  width: 70%;
  height: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: 2;
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 800px) {
  /* line 958, Styling.sass */
  #Om .OmFlex img {
    width: 100%;
    display: block;
    margin: 0 0 -3vh;
    z-index: 2;
    position: static;
  }
}
/* line 974, Styling.sass */
#Om .OmFlex .White {
  position: absolute;
  right: calc(90vw / 100 * 15 + 8px);
  width: 25%;
  float: right;
  z-index: 3;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3) !important;
}
@media only screen and (max-width: 800px) {
  /* line 974, Styling.sass */
  #Om .OmFlex .White {
    float: right;
    display: block;
    right: calc(15% - 8px);
    z-index: 5;
    width: 50%;
  }
}
@media only screen and (max-width: 800px) and (max-width: 700px) {
  /* line 974, Styling.sass */
  #Om .OmFlex .White {
    float: none;
    width: 70vw;
    right: 15vw;
    left: 15vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (max-width: 800px) and (max-width: 575px) {
  /* line 974, Styling.sass */
  #Om .OmFlex .White {
    width: 90vw;
    right: 5vw;
    left: 5vw;
  }
}

/* line 1007, Styling.sass */
#Om .OmFlex .White h1 {
  text-align: left;
  margin: 0;
  padding: 0;
}
/* line 1012, Styling.sass */
#Om .OmContent {
  width: 70%;
  margin: 3vh auto 10vh;
}
@media only screen and (max-width: 575px) {
  /* line 1012, Styling.sass */
  #Om .OmContent {
    width: 90%;
  }
}
/* line 1020, Styling.sass */
#Om .White {
  background-color: #FFF;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
/* line 1027, Styling.sass */
#Om h2 {
  margin: 0 0 0 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/* line 1031, Styling.sass */
#Om .Back {
  float: left;
  left: 5%;
  top: calc(70px + 0vh);
}
@media only screen and (max-width: 575px) {
  /* line 1031, Styling.sass */
  #Om .Back {
    left: 2vw;
  }
}

/* line 1043, Styling.sass */
.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}
/* line 1060, Styling.sass */
.modal .modal-content {
  background-color: #FFF;
  margin: 5vmax;
  height: calc(100vh - 10vmax);
  width: calc(100vw - 10vmax);
  padding: 0px;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media only screen and (max-width: 800px) {
  /* line 1060, Styling.sass */
  .modal .modal-content {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* line 1088, Styling.sass */
.modal .modal-content .LeftSide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 800px) {
  /* line 1088, Styling.sass */
  .modal .modal-content .LeftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* line 1104, Styling.sass */
.modal .modal-content .LeftSide img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-filter: none;
          filter: none;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
}
@media only screen and (max-width: 800px) {
  /* line 1104, Styling.sass */
  .modal .modal-content .LeftSide img {
    margin: 2vh 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/* line 1125, Styling.sass */
.modal .modal-content .LeftSide .title {
  top: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  padding: 2vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 0;
      -ms-flex-positive: 1 0;
          flex-grow: 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  /* line 1125, Styling.sass */
  .modal .modal-content .LeftSide .title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/* line 1143, Styling.sass */
.modal .modal-content .LeftSide .title h4 {
  color: #6C1919;
  font-size: 2.5em;
  display: block;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 1px;
          margin-block-end: 1px;
}
@media only screen and (max-width: 800px) {
  /* line 1143, Styling.sass */
  .modal .modal-content .LeftSide .title h4 {
    font-size: 2em;
    text-align: center;
    display: block;
  }
}
/* line 1156, Styling.sass */
.modal .modal-content .LeftSide .title p {
  line-height: 1;
  font-size: 1.7em;
}
@media only screen and (max-width: 800px) {
  /* line 1156, Styling.sass */
  .modal .modal-content .LeftSide .title p {
    font-size: 1.5em;
  }
}
/* line 1164, Styling.sass */
.modal .modal-content .RightSide {
  padding: 2vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  /* line 1164, Styling.sass */
  .modal .modal-content .RightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* line 1180, Styling.sass */
.modal .modal-content .RightSide .info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  /* line 1180, Styling.sass */
  .modal .modal-content .RightSide .info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/* line 1188, Styling.sass */
.modal .modal-content .RightSide .info h5 {
  color: #383838;
  text-align: center;
  display: run-in;
  font-size: 1.75em;
}
/* line 1194, Styling.sass */
.modal .modal-content .RightSide .info p {
  font-size: 1em;
}
/* line 1197, Styling.sass */
.modal .modal-content .RightSide .Button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  bottom: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  /* line 1197, Styling.sass */
  .modal .modal-content .RightSide .Button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/* line 1208, Styling.sass */
.modal .modal-content .RightSide .Button .ModalButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #6C1919;
  color: #FFF;
  font-size: 2em;
  width: 100%;
  height: 80px;
  padding: 15px 0;
  display: block;
  bottom: 0;
  text-align: center;
  border-radius: 4em;
}
@media only screen and (max-width: 800px) {
  /* line 1208, Styling.sass */
  .modal .modal-content .RightSide .Button .ModalButton {
    padding-top: 12px;
    margin-bottom: 1em;
    height: 60px;
  }
}
/* line 1227, Styling.sass */
.modal .close {
  color: #383838;
  margin: 2vw 2vw 0 0;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5vmax;
  right: 5vmax;
}
/* line 1236, Styling.sass */
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* line 1243, Styling.sass */
.ToBtn {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #7D7D7D;
  color: #FFF;
  font-size: 1.25em;
  display: block;
  width: 250px;
  text-align: center;
  margin-left: calc(50% - 125px);
  margin-top: 5vh;
  border-radius: 26.5px;
  padding: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
/* line 1257, Styling.sass */
.ToBtn:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #666666;
}
/* line 1261, Styling.sass */
.ToBtn:active {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  margin-top: calc(5vh + 2px);
}
@media only screen and (max-width: 575px) {
  /* line 1243, Styling.sass */
  .ToBtn {
    display: none;
  }
}

/* line 1270, Styling.sass */
.OmMeg {
  background-color: #FFF;
}

/* line 1274, Styling.sass */
main h1 {
  font-size: 2.5em;
  padding-left: calc(150px + 1vw);
  font-weight: 400;
}
@media only screen and (max-width: 700px) {
  /* line 1274, Styling.sass */
  main h1 {
    padding-left: calc(100px + 1vw);
  }
}
@media only screen and (max-width: 575px) {
  /* line 1274, Styling.sass */
  main h1 {
    text-align: center;
    padding-left: 0;
    margin: 0 0 2vh;
  }
}
/* line 1287, Styling.sass */
main h1 a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
/* line 1294, Styling.sass */
main h1 a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 575px) {
  /* line 1287, Styling.sass */
  main h1 a {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    text-align: center;
    padding: 4px 10vw;
    background-color: #E4E4E4;
    border-radius: 30px;
  }
  /* line 1304, Styling.sass */
  main h1 a:hover {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    background-color: #D7D7D7;
  }
}

/* line 1309, Styling.sass */
.Material {
  font-family: "Material Icons", sans-serif;
  font-size: 1.1em;
}

/* line 1313, Styling.sass */
.SideArrow {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-weight: 100;
  font-size: 150px;
  color: #6C1919;
  display: inline;
  z-index: 2;
}
/* line 1321, Styling.sass */
.SideArrow:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}
/* line 1326, Styling.sass */
.SideArrow:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
@media only screen and (max-width: 700px) {
  /* line 1313, Styling.sass */
  .SideArrow {
    font-size: 100px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 1313, Styling.sass */
  .SideArrow {
    font-size: 80px;
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    padding: 3px 10px;
    height: 100px;
    width: 100px;
    margin: 50% -30px 0;
  }
}
@media only screen and (max-width: 395px) {
  /* line 1313, Styling.sass */
  .SideArrow {
    font-size: 60px;
    border-radius: 40px;
    padding: 5px 10px;
    height: 80px;
    width: 80px;
  }
}

/* line 1354, Styling.sass */
#RightArrow {
  right: 0;
}
@media only screen and (max-width: 575px) {
  /* line 1354, Styling.sass */
  #RightArrow {
    -ms-flex-item-align: center;
        align-self: center;
    vertical-align: middle;
    margin-top: calc(-310px + 2.5em);
  }
}
@media only screen and (max-width: 395px) {
  /* line 1354, Styling.sass */
  #RightArrow {
    margin-top: calc(-253px + 2.5em);
  }
}

/* line 1366, Styling.sass */
.Slides {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100% - 303px - 1vw);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 1378, Styling.sass */
.Slides::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
/* line 1384, Styling.sass */
.Slides::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  display: none;
}
@media only screen and (max-width: 700px) {
  /* line 1366, Styling.sass */
  .Slides {
    width: calc(100% - 200px - 2vw) !important;
  }
}
@media only screen and (max-width: 575px) {
  /* line 1366, Styling.sass */
  .Slides {
    width: calc(100% - 4vw) !important;
    margin: 0 2vw;
  }
}

/* line 1397, Styling.sass */
.Project {
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: calc(100% / 3 - .8vw);
  height: auto;
  margin: 1vw 0.4vw;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #FFF;
}
@media only screen and (max-width: 1222px) {
  /* line 1397, Styling.sass */
  .Project {
    width: calc(100% / 2 - .8vw);
  }
}
@media only screen and (max-width: 1023px) {
  /* line 1397, Styling.sass */
  .Project {
    width: calc(100% - .8vw);
  }
}
/* line 1416, Styling.sass */
.Project:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
}
/* line 1421, Styling.sass */
.Project:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
/* line 1425, Styling.sass */
.Project img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
/* line 1431, Styling.sass */
.Project div {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
/* line 1436, Styling.sass */
.Project div h3 {
  color: #6C1919;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0px 0px 10px;
}
/* line 1442, Styling.sass */
.Project div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  color: black;
}
/* line 1450, Styling.sass */
.Project div span::after {
  content: ".  .  .";
}
/* line 1453, Styling.sass */
.Project p {
  display: none;
}
/* line 1456, Styling.sass */
.Project a {
  display: none !important;
}

/* line 1460, Styling.sass */
.TekstLink {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  color: #6C1919;
}
/* line 1465, Styling.sass */
.TekstLink:hover {
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

/* line 1469, Styling.sass */
.KontaktWidth {
  width: calc(70% + 4vw);
  margin: auto;
}
@media only screen and (max-width: 1023px) {
  /* line 1469, Styling.sass */
  .KontaktWidth {
    width: calc(90% + 4vw);
  }
}
/* line 1476, Styling.sass */
.KontaktWidth table {
  margin: 10vh auto 0;
  table-layout: fixed;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  /* line 1476, Styling.sass */
  .KontaktWidth table {
    margin: 0vh auto;
  }
}
/* line 1484, Styling.sass */
.KontaktWidth table td {
  width: 50%;
  padding: 0 2vw;
}
@media only screen and (max-width: 800px) {
  /* line 1484, Styling.sass */
  .KontaktWidth table td {
    width: 100%;
    display: block;
    margin: 5vh auto 0;
  }
}
/* line 1493, Styling.sass */
.KontaktWidth table td div {
  margin-left: 1vw;
  width: calc(100% - 1vw - 175px);
  display: inline-block;
  vertical-align: middle;
}
/* line 1499, Styling.sass */
.KontaktWidth table td div h3 {
  font-weight: 400;
  font-size: 1.8em;
}
/* line 1504, Styling.sass */
.KontaktWidth table td img {
  vertical-align: middle;
  border-radius: 85px;
  height: 170px;
  width: 170px;
  display: inline-block;
}
@media only screen and (max-width: 575px) {
  /* line 1504, Styling.sass */
  .KontaktWidth table td img {
    border-radius: 70px;
    height: 140px;
    width: 140px;
  }
}

/* line 1516, Styling.sass */
footer {
  background-color: #383838;
  border-top: 8px solid #6C1919;
  color: #FFF !important;
  width: 100vw;
  height: 350px;
  display: block;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media only screen and (max-width: 1023px) {
  /* line 1516, Styling.sass */
  footer {
    font-size: 16px;
  }
}
/* line 1530, Styling.sass */
footer a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #FFF;
}
/* line 1534, Styling.sass */
footer a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-decoration: underline;
}
/* line 1538, Styling.sass */
footer span {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 700px) {
  /* line 1538, Styling.sass */
  footer span {
    margin: 1em 0 0;
  }
}
/* line 1547, Styling.sass */
footer .Topp {
  margin-top: 0.5em;
  font-size: 0.9;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 700px) {
  /* line 1547, Styling.sass */
  footer .Topp {
    text-align: right;
  }
}
/* line 1556, Styling.sass */
footer .Topp:hover {
  cursor: pointer;
}
/* line 1559, Styling.sass */
footer .Topp span {
  text-align: left;
  vertical-align: sub;
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 700px) {
  /* line 1559, Styling.sass */
  footer .Topp span {
    text-align: right;
  }
}
/* line 1569, Styling.sass */
footer .Body div {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  width: calc(50% - 2px);
  margin-top: calc(290px / 2);
}
@media only screen and (max-width: 700px) {
  /* line 1569, Styling.sass */
  footer .Body div {
    display: block;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: block;
    width: 100%;
    margin-top: 4vh;
    text-align: center;
    float: none;
  }
}
/* line 1584, Styling.sass */
footer .LeftFooter {
  font-size: 1.75em;
}
/* line 1587, Styling.sass */
footer .RightFooter {
  text-align: right;
  float: right;
}
/* line 1591, Styling.sass */
footer .RightFooter h1 {
  font-size: 2.75em;
}
/* line 1594, Styling.sass */
footer .RightFooter p {
  font-size: 1.4em;
  display: block;
}
@media only screen and (max-width: 700px) {
  /* line 1594, Styling.sass */
  footer .RightFooter p {
    display: inline;
  }
}

/*# sourceMappingURL=Styling.css.map */