// ======================================= Variables
// ============ Colors

$MainColor: #6C1919
$SecondaryColor: #383838
$ThirdColor: #7D7D7D
$White: #FFF
$WhiteHover : #FBFBFB

$amount: 2

$ButtonColor: #7D7D7D
$ButtonHover: #666666

$LineClip: polygon(25% 0, 34% 0, 100% 70%, 100% 79%)

$Shadow: 0px 3px 6px rgba(0,0,0,0.2)
$BigShadow: 0px 3px 9px 3px rgba(0,0,0,0.3)

// ============ Mobile
$MobileS: "only screen and (max-width : 334px)"
$MobileM: "only screen and (max-width : 376px)"
$MobileXM: "only screen and (max-width : 395px)"
$MobileL: "only screen and (max-width : 426px)"
$MobileXL: "only screen and (max-width : 500px)"
$MobileXXL: "only screen and (max-width : 575px)"


// ============ Tablet
$TabletS: "only screen and (max-width : 650px)"
$TabletM: "only screen and (max-width : 700px)"
$TabletL: "only screen and (max-width : 800px)"

// ============ Laptop
$Laptop: "only screen and (max-width : 1023px)"

// ============ Desktop
$Desktop: "only screen and (max-width : 1222px)"


// ============================================= CSS
html
  transition: all 0s ease
  scroll-behavior: smooth
  -moz-scroll-behavior: smooth
  -webkit-scroll-behaviour: smooth
  -webkit-font-smoothing: antialiased
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0,0,0,0)


body
  transition: all 0s ease
  background-color: $White
  font-family: 'Roboto', sans-serif
  min-width: 310px !important
  line-height: 1.25
  width: 100% !important
  overflow-y: auto
  overflow-x: hidden !important
  font-size: 20px

  @media #{$MobileXXL}
    font-size: 18px

  @media #{$MobileXM}
    font-size: 16px


*
  box-sizing: border-box
  margin: 0
  padding: 0
  /*border: 1px solid blue*/
  border-collapse: collapse

  &:focus
    outline: none

a
  text-decoration: none
  color: black

img
  //filter: grayscale(1)

::-moz-selection
  background: $MainColor
  opacity: 0.7
  color: $White


::selection
  background: $MainColor
  color: $White
  opacity: 0.7


::-webkit-scrollbar
  width: 5px
  margin: 2px 2px 2px -7px
  right: 0
  border-radius: 2.5px


::-webkit-scrollbar-thumb
  transition: all 0.3s ease-in-out
  background: #999
  border-radius: 2.5px

  &:hover
    transition: all 0.3s ease-in-out
    background: #666

.Eller
  text-align: center
  width: 100%
  display: block
  margin-top: 10vh
  font-weight: 100
  font-style: normal
  font-size: .8em

.Banner
  color: white
  display: block
  background-color: $MainColor
  width: 100%
  margin: 5vh auto 8vh
  box-shadow: $BigShadow

  .Body
    width: 70%

    @media #{$Laptop}
      width: 90%

    i
      transition: all .2s ease
      font-size: 2em
      text-align: center
      width: 100%
      display: block
      font-weight: 400
      margin-top: 2vh
      display: none
      font-style: normal

      @media #{$TabletM}
        margin-top: .5vh

    b
      text-align: center
      width: 100%
      display: block
      font-weight: 400

    a
      transition: all .2s ease
      min-width: 330px
      text-align: center
      width: 40%
      height: 70px
      margin: 8vh auto
      background-color: $White
      color: $MainColor
      display: inline-block
      border-radius: 35px
      padding-top: 10px
      font-size: 2em
      border: 1px solid $White

      &:hover
        transition: all .2s ease
        opacity: .9

      &:focus
        transition: all .2s ease
        opacity: .9

      @media #{$TabletL}
        font-size: 1.7em
        padding-top: 13px
        min-width: 300px

      @media #{$TabletM}
        font-size: 2em
        padding-top: 10px
        width: 100%
        display: block

      span
        font-size: 1em
        vertical-align: sub

        @media #{$TabletL}
          font-size: .9em

        @media #{$TabletM}
          font-size: 1.1em

    #SMS
      float: right

      @media #{$TabletM}
        float: none
        margin: .5vh auto


header
  background-color: $MainColor
  color: $White
  width: 100vw
  height: 100vh
  z-index: 1
  overflow: hidden
  display: block

  #Path
    clip-path: polygon(100% 0, 0% 100%, 100% 100%)
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%)
    -moz-clip-path: polygon(100% 0, 0% 100%, 100% 100%)
    height: 100vh
    width: 20vw
    position: absolute
    left: calc(40vw + 1px)
    top: 0
    z-index: 3
    background-color: $MainColor
    display: block

    @media #{$TabletL}
      clip-path: polygon(-5% 100%, 100% 0, 100% 100%)
      -webkit-clip-path: polygon(-5% 100%, 100% 0, 100% 100%)
      -moz-clip-path: polygon(-5% 100%, 100% 0, 100% 100%)
      height: 40px
      width: 100vw
      left: 0
      top: calc((100vw / 16 * 9) + 31px)

  #Path2
    display: none
    position: absolute
    z-index: 3
    clip-path: polygon(-5% 100%, 0% 0%, 100% 0)
    -webkit-clip-path: polygon(-5% 100%, 0% 0%, 100% 0)
    -moz-clip-path: polygon(-5% 100%, 0% 0%, 100% 0)
    height: 40px
    width: 100vw
    left: 0
    top: 69px
    background-color: $MainColor

    @media #{$TabletL}
      display: block


  #Next1
    color: $White
    position: absolute
    width: 150px
    height: 150px
    left: calc(50vw - 75px)
    text-align: center
    top: 100vh
    z-index: 6
    font-size: 8em
    transform: translate(0%, -100%)

    @media #{$Laptop}
      font-size: 7em

  img
    height: 100vh
    width: 60vw
    object-fit: cover
    bottom: 0
    top: 0
    right: 0
    left: 0
    z-index: 2

    @media #{$TabletL}
      height: auto
      width: 100vw
      margin-top: 70px
      display: block

  .HeaderContent
    background-color: $MainColor
    width: 25vw
    height: 60vh
    position: absolute
    top: 20vh
    right: 12.5vw
    display: flex
    flex-direction: column
    z-index: 5

    @media #{$TabletL}
      background-color: rgba(0,0,0,0)
      width: 90vw
      height: 90vh
      top: calc(5vh + 110px)
      right: 5vw

    h1
      font-size: 2.7em
      font-weight: 400
      //1.785vw

      @media #{$Desktop}
        font-size: 2.4em

      @media #{$Laptop}
        font-size: 1.9em

      @media #{$TabletL}
        margin-top: calc(((100vw / 16 * 9) / 2) - 120px )
        top: 0
        position: absolute
        font-size: 2.5em


    #CTA
      transition: all .1s ease
      display: flex
      color: $MainColor
      background-color: $White
      text-align: center
      //padding: .4em 0 0
      border-radius: 1em
      width: 102%
      min-height: 50px
      height: 2em
      position: relative
      vertical-align: middle
      bottom: 0
      margin: 10vh -1% 0
      font-size: 2.5em
      justify-content: center
      align-items: center

      &:hover
        transition: all .1s ease
        background-color: $WhiteHover

      @media screen and (max-width: 1271px)
        font-size: 2.2em
        padding: .2em

      @media #{$Desktop}
        font-size: 2em

      @media #{$Laptop}
        font-size: 1.5em
        height: 1.7em

      @media #{$TabletL}
        margin-top: calc((100vw / 16 * 9) + 7vh)
        top: 0
        position: absolute

    p
      margin: 2.5em 0 0

      @media #{$TabletL}
        margin-top: calc((100vw / 16 * 9) - 50px)
        position: absolute

  #MobileMenuHeader
    display: none
    width: 40px
    position: absolute
    top: 10px
    right: 2vw
    font-size: 2em
    display: flex
    color: white
    z-index: 13
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
    filter: FlipH


nav
  position: sticky
  background-color: $White
  vertical-align: middle
  display: block
  height: 70px
  width: 100vw
  box-shadow: $BigShadow
  top: 0
  z-index: 10

  .NavBtn
    transition: all .1s ease
    padding: 0 1vw
    display: flex
    align-items: center
    float: right
    height: 70px
    color: $MainColor
    text-decoration: none
    font-size: 1.5em

    &:hover
      transition: all .1s ease
      background-color: $WhiteHover

    &:focus
      transition: all .1s ease
      background-color: $WhiteHover

    @media #{$TabletL}
      display: none

  #Navn
    float: left

    @media #{$TabletL}
      display: flex

  #MobileMenu
    display: none
    width: calc(40px + 2vw)
    font-size: 2em
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
    filter: FlipH

    @media #{$TabletL}
      display: flex

  .Body
    width: calc(90% + 2vw)

    @media #{$MobileXXL}
      width: calc(100% - 4vw)


main
  z-index: 2


.Body
  margin: auto
  width: 90%

  @media #{$MobileXXL}
    width: calc(100% - 4vw)


.Back
  transition: all .3s ease
  font-family: 'Material icons', sans-serif
  color: $MainColor
  font-size: 2.5em
  position: absolute
  top: calc(70px + 3vh)
  //height: 1em
  padding: 0 0 0 5px

  &:hover
    transition: all .3s ease
    padding: 0

.MobileNav
  transition: all .3s ease
  display: block
  width: 100%
  height: 197px
  position: sticky
  top: 70px
  box-shadow: $Shadow
  background-color: $ThirdColor
  overflow: hidden
  z-index: 9

  a
    transition: all .3s ease
    height: 65px
    color: $MainColor
    width: 100%
    display: block
    background-color: $White
    font-size: 1.5em
    text-align: center
    padding: 6px 0 0
    margin: 0 0 .5px

    &:hover
      transition: all .3s ease
      background: darken($White, $amount)
      font-size: 1.7em
      padding: 3px 0 0

    span
      vertical-align: middle
      margin: -3px 10px 0 0
      font-size: 1.5em

  .Active
    border-bottom: 1px solid $MainColor


.GalleriInfo
  text-align: right
  width: 59%
  display: block
  margin: 5vh 0 2vh 41%

  @media #{$TabletL}
    margin: 5vh 30% 2vh 0
    text-align: left
    width: 70%

  @media #{$TabletM}
    margin: 5vh 20% 2vh 0
    text-align: left
    width: 80%

  @media #{$MobileXXL}
    width: 90%
    margin: 5vh 5% 2vh 5%


input
  background: url("../Images/Search.png") right no-repeat
  background-size: 30px
  background-origin: content-box
  transition: all .2s ease
  background-color: $White
  height: 50px
  position: relative
  padding: 12.5px 20px
  margin: 5vh auto 7vh
  width: 90%
  max-width: 420px
  min-width: 300px
  border-radius: 25px
  color: $MainColor
  box-shadow: $Shadow
  border: 0px solid $White
  display: block
  font-size: 1em

  &:hover
    transition: all .4s ease
    transform: scale(1.02)

  &:focus
    transition: all .3s ease
    transform: scale(1.03)

  &::placeholder
    color: $MainColor
    opacity: 1


.GalleriFlex
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  align-content: flex-start
  margin: auto
  width: 90%

  @media #{$MobileXXL}
    width: calc(100% - 4vw)

  .Project
    //border: 1px solid $ThirdColor
    white-space: nowrap
    transition: all .3s ease
    display: inline-block
    width: calc(100% / 4 - .8vw)
    height: auto
    margin: 1vw .4vw
    text-decoration: none
    box-shadow: $Shadow
    border-radius: 15px
    background-color: $White

    @media #{$Laptop}
      width: calc(100% / 3 - .8vw)

    @media #{$TabletL}
      width: calc(100% / 2 - .8vw)

    @media #{$MobileXXL}
      width: calc(100% - .8vw)


h2
  text-align: center
  font-size: 2.5em
  letter-spacing: 9px
  //display: inline-block
  //width: 50%
  //min-width: 260px
  margin: 3vh auto 1vh
  color: black
  font-weight: 400


.NavActive
  border-bottom: 1px solid $MainColor
  padding-bottom: 20px


#MobileNav
  transition: all .3s ease
  height: 0px


.HeaderNav
  transition: all .3s ease
  display: block
  width: 100%
  height: 332.5px
  position: absolute
  box-shadow: $Shadow
  background-color: $MainColor
  overflow: hidden
  z-index: 10

  a
    transition: all .3s ease
    height: 65px
    color: $White
    border-top: .5px solid $White
    width: 100%
    display: block
    background-color: $MainColor
    font-size: 1.5em
    text-align: center
    padding: 6px 0 0
    margin: 0 0 .5px

    &:hover
      transition: all .3s ease
      background: darken($MainColor, $amount)
      font-size: 1.7em
      padding: 3px 0 0

    span
      vertical-align: middle
      margin: -3px 10px 0 0
      font-size: 1.5em


  .Active
    border-bottom: 1px solid $White


#HeaderNav
  transition: all .3s ease
  height: 0px
  padding-top: 0px


.GalleriPart
  width: 100%
  display: block
  margin: 5vh auto
  vertical-align: top

  .Body
    width: calc(90% + 100px)
    @media #{$MobileXXL}
      width: 100%

#home
  .TableOfThings
    margin: 10vh auto 0

    h1
      font-size: 2.5em
      transition: all 0.1s ease
      color: black
      text-decoration: none
      text-align: left
      width: 100%
      margin: 0
      padding: 0

    table
      //table-layout: fixed
      width: 100%
      border-collapse: collapse
      border: 0px solid $MainColor

      td
        width: calc(100% / 3)
        padding: 2vw
        vertical-align: top
        display: inline-flex
        align-content: center
        align-items: center
        justify-content: space-between

        @media #{$Desktop}
          flex-direction: column

        @media #{$TabletM}
          width: calc(100% / 2)

        @media #{$MobileXXL}
          width: calc(100%)
          vertical-align: middle
          flex-direction: row

        h5
          font-family: 'Material Icons', sans-serif
          font-size: 5em
          display: inline-block
          color: $ThirdColor
          text-align: left

          @media #{$Desktop}
            width: 100%
            display: block
            text-align: center

          @media #{$MobileXXL}
            display: inline-block
            text-align: left
            width: 1em
            line-height: 1
        p
          display: inline-block
          width: calc(100% - 5.6em)
          float: right

          @media #{$Desktop}
            float: none
            width: 100%
            display: block

          @media #{$MobileXXL}
            display: inline-block
            width: calc(100% - 5.4em)
            float: right
            vertical-align: middle

  .White
    background-color: $White
    display: inline-block
    box-sizing: content-box
    padding: 20px
    box-shadow: $BigShadow



.KontaktWidth
  .Medias
    justify-content: space-around
    margin: 7vh 0 0 !important

    a
      img
        width: 2em !important
        border-radius: 1em


.Medias
  margin: 1em 0 0
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between

  @media #{$TabletL}
    margin: 1em 0

  a
    img
      border-radius: calc(1.3em / 2)
      filter: grayscale(0) !important
      transition: all .2s ease
      width: 1.3em !important
      opacity: .4

      &:hover
        transition: all .2s ease
        transform: scale(1.07)
        opacity: .8


.Background
  transition: all .3s ease
  height: 100vw
  width: 100vw
  position: absolute
  left: 0
  top: 70px
  z-index: -1
  background-color: $MainColor
  display: block

  @media #{$TabletL}
    height: 200vh
    width: 200vh

  @media #{$MobileXXL}
    height: 150vh
    width: 150vh

  @media #{$MobileM}
    height: 100vh
    width: 100vh


.Line
  clip-path: $LineClip
  -webkit-clip-path: $LineClip
  -moz-clip-path: $LineClip


.Triangle
  //width: 0
  //height: 0
  //border-top: 50px solid transparent
  //border-left: 100px solid $MainColor
  //border-bottom: 50px solid transparent
  clip-path: polygon(0 29%, 0 72%, 21% 51%)
  -webkit-clip-path: polygon(0 29%, 0 72%, 21% 51%)
  -moz-clip-path: polygon(0 29%, 0 72%, 21% 51%)


.TriangleBottom
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%)
  -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%)
  -moz-clip-path: polygon(50% 50%, 0% 100%, 100% 100%)
  left: 0
  margin-bottom: 350px
  //Edit to be the same as footer's height


#Om
  background-repeat: repeat
  background-image: url("../Images/OmMegBG.png")
  margin-top: 0px
  padding-top: 0px
  background-size: 1920px 1080px
  background-origin: border-box
  z-index: -4

  h2.White
    @media #{$TabletM}
      padding: 20px 10px
      letter-spacing: normal

  .TableOfThings
    margin: 10vh auto 10vh

    @media #{$TabletL}
      margin: 40vw auto 10vh

    @media #{$TabletM}
      margin: 40vh auto 10vh


    table
      //table-layout: fixed
      width: 100%
      border-collapse: collapse
      border: 0px solid $MainColor

      td
        width: calc(100% / 3)
        padding: 2vw
        vertical-align: top
        display: inline-flex
        align-content: center
        align-items: center
        justify-content: space-between

        @media #{$Desktop}
          flex-direction: column

        @media #{$TabletM}
          width: calc(100% / 2)

        @media #{$MobileXXL}
          width: calc(100%)
          vertical-align: middle
          flex-direction: row

        h5
          font-family: 'Material Icons', sans-serif
          font-size: 5em
          display: inline-block
          color: $ThirdColor
          text-align: left

          @media #{$Desktop}
            width: 100%
            display: block
            text-align: center

          @media #{$MobileXXL}
            display: inline-block
            text-align: left
            width: 1em
            line-height: 1
        p
          display: inline-block
          width: calc(100% - 5.6em)
          float: right

          @media #{$Desktop}
            float: none
            width: 100%
            display: block

          @media #{$MobileXXL}
            display: inline-block
            width: calc(100% - 5.4em)
            float: right
            vertical-align: middle


  .OmFlex
    width: 80%
    margin: auto
    //height: calc(70% / 16 * 9)
    display: flex

    @media #{$TabletL}
      display: block


    @media #{$MobileXXL}
      width: 90%

    img
      width: 70%
      height: auto
      filter: grayscale(1)
      z-index: 2
      display: inline-block
      align-self: center
      box-shadow: $Shadow

      @media #{$TabletL}
        width: 100%
        display: block
        margin: 0 0 -3vh
        z-index: 2
        position: static

    .White
      position: absolute
      right: calc(90vw / 100 * 15 + 8px)
      //display: inline-block
      width: 25%
      float: right
      z-index: 3
      align-self: center
      box-shadow: $BigShadow !important
      //transform: translate(0%, -50%)

      @media #{$TabletL}
        float: right
        //margin: 0 0 0 calc(20% - 40px)
        //align-self: auto
        //position: static
        display: block
        right: calc(15% - 8px)
        z-index: 5
        width: 50%

        @media #{$TabletM}
          float: none
          width: 70vw
          right: 15vw
          left: 15vw
          box-sizing: border-box

        @media #{$MobileXXL}
          width: 90vw
          right: 5vw
          left: 5vw

      h1
        text-align: left
        margin: 0
        padding: 0

  .OmContent
    width: 70%
    margin: 3vh auto 10vh

    @media #{$MobileXXL}
      width: 90%


  .White
    background-color: $White
    display: inline-block
    box-sizing: content-box
    padding: 20px
    box-shadow: $Shadow

  h2
    margin: 0 0 0 50%
    transform: translate(-50%, 0)

  .Back
    float: left
    left: 5%
    top: calc(70px + 0vh)

    @media #{$MobileXXL}
      left: 2vw

  @media #{$TabletL}


//Modal Styling
.modal
  display: none
  position: fixed
  z-index: 11
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.5)



  &:hover body
  overflow-y: hidden

  .modal-content
    background-color: #fefefe
    margin: 5vmax
    height: calc(100vh - 10vmax)
    width: calc(100vw - 10vmax)
    display: grid
    grid-template-areas: 'image image image info info''image image image info info''title title title info info''title title title button button'
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    //grid-template-rows: 1fr 1fr 1fr 1fr
    padding: 0px
    box-shadow: $BigShadow
    overflow: auto
    color: black

    @media #{$TabletM}
      display: flex
      flex-direction: column
      overflow-y: scroll
      overflow-x: hidden
      //grid-template-areas: 'title''info''info''image''button'
      //grid-template-columns: 1fr

    div
      padding: 2vw !important
      width: 100%
      height: 100%

  .close
    color: #aaa
    margin: 2vw 2vw 0 0
    font-size: 28px
    font-weight: bold
    position: absolute
    top: 5vmax
    right: 5vmax

    &:hover, &:focus
      color: black
      text-decoration: none
      cursor: pointer

  img
    box-shadow: $Shadow
    grid-area: image
    width: 100%
    height: auto
    object-fit: cover
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    filter: none

    @media #{$TabletM}
      margin: 2vh 0
      //display: none
      order: 3
      min-height: calc((100vw - 10vmin) / 16 * 9)

  .title
    grid-area: title
    top: 0

    h4
      color: $MainColor
      font-size: 2.5em
      display: inline-block

      @media #{$TabletM}
        font-size: 2em
        text-align: center
        display: block

    p
      font-size: 1.75em

      @media #{$TabletM}
        font-size: 1.5em

  .info
    grid-area: info

    h5
      color: $ThirdColor
      text-align: center
      display: run-in
      font-size: 1.75em

    p
      font-size: 1em

  .Button
    grid-area: button

    @media #{$TabletM}
      display: block
      order: 4

    .ModalButton
      background-color: $MainColor
      color: $White
      font-size: 2em
      width: 100%
      height: 80px
      padding: 15px 0
      display: block
      bottom: 0
      text-align: center
      border-radius: 4em



.ToBtn
  transition: all .1s ease
  background-color: $ButtonColor
  color: $White
  font-size: 1.25em
  display: block
  width: 250px
  text-align: center
  margin-left: calc(50% - 125px)
  margin-top: 5vh
  border-radius: 26.5px
  padding: 10px
  box-shadow: $Shadow

  &:hover
    transition: all .1s ease
    background-color: $ButtonHover

  &:active
    transition: all .1s ease
    box-shadow: 0
    margin-top: calc(5vh + 2px)

  @media #{$MobileXXL}
    display: none


.OmMeg
  background-color: $White


main h1
  font-size: 2.5em
  padding-left: calc(150px + 1vw)
  font-weight: 400

  @media #{$TabletM}
    padding-left: calc(100px + 1vw)

  @media #{$MobileXXL}
    text-align: center
    padding-left: 0
    margin: 0 0 2vh

  a
    transition: all .1s ease
    color: black
    text-decoration: none
    text-align: center
    width: 100%

    &:hover
      text-decoration: underline

    @media #{$MobileXXL}
      transition: all .1s ease
      text-align: center
      padding: 4px 10vw
      background-color: #E4E4E4
      border-radius: 30px

      &:hover
        transition: all .1s ease
        background-color: #D7D7D7


.Material
  font-family: 'Material Icons', sans-serif
  font-size: 1.1em

.SideArrow
  transition: all .1s ease
  font-weight: 100
  font-size: 150px
  color: $MainColor
  display: inline
  z-index: 2

  &:hover
    transition: all .2s ease
    transform: scale(1.01)
    cursor: pointer

  &:focus
    transition: all .3s ease
    transform: scale(1.03)

  @media #{$TabletM}
    font-size: 100px

  @media #{$MobileXXL}
    font-size: 80px
    position: absolute
    display: inline-block
    background-color: rgba(255,255,255,0.4)
    border-radius: 50px
    padding: 3px 10px
    height: 100px
    width: 100px
    margin: 50% -30px 0
    //top: 0
    //margin-top: calc((98vw / 16 * 9) + 130px + 7vh)

  @media #{$MobileXM}
    font-size: 60px
    border-radius: 40px
    padding: 5px 10px
    height: 80px
    width: 80px


#RightArrow
  right: 0

  @media #{$MobileXXL}
    align-self: center
    vertical-align: middle
    margin-top: calc(-310px + 2.5em)

  @media #{$MobileXM}
    margin-top: calc(-253px + 2.5em)


.Slides
  transition: all .2s ease
  display: inline-flex
  width: calc(100% - 303px - 1vw)
  align-content: center
  align-items: center
  margin: 0
  overflow: hidden
  z-index: 1
  overflow-x: auto
  overflow-y: hidden

  &::-webkit-scrollbar
    width: 0px
    height: 0px
    display: none


  &::-webkit-scrollbar-thumb
    width: 0px
    height: 0px
    display: none

  @media #{$TabletM}
    width: calc(100% - 200px - 2vw) !important

  @media #{$MobileXXL}
    width: calc(100% - 4vw) !important
    margin: 0 2vw


.Project
  white-space: nowrap
  transition: all .3s ease
  display: inline-block
  width: calc(100% / 3 - .8vw)
  height: auto
  margin: 1vw .4vw
  text-decoration: none
  box-shadow: $Shadow
  border-radius: 15px
  background-color: $White
  //background-color: rgba(255,255,255,0.9)

  @media #{$Desktop}
    width: calc(100% / 2 - .8vw)

  @media #{$Laptop}
    width: calc(100% - .8vw)

  &:hover
    transition: all .3s ease
    transform: scale(1.03)
    cursor: pointer

  &:focus
    transition: all .3s ease
    transform: scale(1.03)

  img
    width: 100%
    height: auto
    border-radius: 15px 15px 0px 0px
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2)

  div
    width: 100%
    padding: 10px
    overflow: hidden

    h3
      color: $MainColor
      font-size: 1.5em
      font-weight: 400
      margin: 0px 0px 10px

    span
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 100%
      display: block
      color: black

      &::after
        content: ".  .  ."

  p
    display: none

  a
    display: none !important


.TekstLink
  text-decoration: underline
  text-decoration-style: dotted
  color: $MainColor

  &:hover
    text-decoration-style: solid


.KontaktWidth
  width: calc(70% + 4vw)
  margin: auto

  @media #{$Laptop}
    width: calc(90% + 4vw)

  table
    margin: 10vh auto 0
    table-layout: fixed
    width: 100%

    @media #{$TabletL}
      margin: 0vh auto

    td
      width: 50%
      padding: 0 2vw

      @media #{$TabletL}
        width: 100%
        display: block
        margin: 5vh auto 0

      div
        margin-left: 1vw
        width: calc(100% - 1vw - 175px)
        display: inline-block
        vertical-align: middle

        h3
          font-weight: 400
          font-size: 1.8em


      img
        vertical-align: middle
        border-radius: 85px
        height: 170px
        width: 170px
        display: inline-block

        @media #{$MobileXXL}
          border-radius: 70px
          height: 140px
          width: 140px

footer
  background-color: $SecondaryColor
  border-top: 8px solid $MainColor
  color: $White !important
  width: 100vw
  height: 350px
  display: block
  box-shadow: $BigShadow
  z-index: 3
  box-sizing: content-box

  @media #{$Laptop}
    font-size: 16px

  a
    transition: all .1s ease
    color: $White

    &:hover
      transition: all .1s ease
      text-decoration: underline

  span
    text-align: center
    width: 100%
    display: flex
    justify-content: center

    @media #{$TabletM}
      margin: 1em 0 0

  .Topp
    margin-top: .5em
    font-size: .9
    width: 100%
    display: block

    @media #{$TabletM}
      text-align: right

    &:hover
      cursor: pointer

    span
      text-align: left
      vertical-align: sub
      display: inline-block
      width: auto

      @media #{$TabletM}
        text-align: right

  .Body
    div
      transform: translate(0, -50%)
      display: inline-block
      width: calc(50% - 2px)
      margin-top: calc(290px / 2)

      @media #{$TabletM}
        display: block
        transform: translate(0, 0)
        display: block
        width: 100%
        margin-top: 4vh
        text-align: center
        float: none

  .LeftFooter
    font-size: 1.75em

  .RightFooter
    text-align: right
    float: right

    h1
      font-size: 2.75em

    p
      font-size: 1.4em
      display: block

      @media #{$TabletM}
        display: inline
